.pagination{
    margin-bottom: 0px;
}

.pagination .page-link{
    color: $orange !important;
    background-color: #454d55 !Important;
    border: 1px solid gray !important;
}

.pagination .disabled>.page-link{
    color: $gray-600 !important;
}
